{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<br>

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<!-- <div class="fh5co-blog animate-box">
				<a href="#" class="blog-img-holder" style="background-image: url(images/project-1.jpg);"></a> -->
				<div class="blog-text">
					<div class="container">


					<center>
					<h3>Admission Procedure</h3>
					<span class="posted_on">March. 15th</span>
					<!-- <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span> -->
					<p>Admissions for 2021-22:</p>
					<p>Admissions for the academic year 2021-22 are open. If interested, please drop us an email at admissions@odl.silveroaks.co.in or Contact us @ 9133379903.</p>
					<p>The final decision on all applications rests with the Head of School. From the time, an interaction session is completed, the Admissions Committee aims to return a decision within one week, pending any further follow-up that may br required.</p>
				</center>
				</div>
			<!-- </div> -->
		</div>
		</div>
		</div>
<br>
<br>
<br>
		<div class="container">
  <h2 style="text-align:center;">Fee Structure</h2>

  <table style="color:black; border:2px solid black;" class="table table-bordered">
    <thead style="color:black; border:2px solid black;">
      <tr>
        <th>Sr.</th>
        <th>Class</th>
        <th>Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>1st</td>
        <td>10000</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>2nd</td>
        <td>20000</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>3rd</td>
        <td>30000 Rs</td>
      </tr>
    </tbody>
  </table>
</div>


<div id="fh5co-about">
	<div class="container">
		<div class="col-md-6 animate-box">
			<h2>About Us</h2>
			<h1><strong>Why CMA?</strong></h1>
			<h3>Knowledge Ennobles Character Endures</h3>
			<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="{% static "images/C M A Higher Secondary School-Campus View 2.jpg" %}" alt="">
		</div>
	</div>
</div>


<div id="fh5co-about">
	<div class="container">
		<div class="col-md-6 animate-box">
			<h2>Vision and Mission</h2>
			<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
			<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
			<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="{% static "images/C M A Higher Secondary School-Campus View 1.jpg" %}" alt="Free HTML5 Bootstrap Template">
		</div>
	</div>
</div>

<div id="fh5co-about">
	<div class="container">
		<div class="col-md-6 animate-box">
			<h2>Principal Message</h2>
			<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
			<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
			<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

		</div>
		<div class="col-md-6">
			<img height="350" width="350" class="img-responsive" src="{% static "images/admin.png" %}" alt="">
		</div>
	</div>
</div>


<div id="fh5co-about">
	<div class="container">
		<div class="col-md-6 animate-box">
			<h2>Chairman Message</h2>
			<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
			<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
			<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

		</div>
		<div class="col-md-6">
			<img height="350" width="350" class="img-responsive" src="{% static "images/admin.png" %}" alt="">
		</div>
	</div>
</div>


<div id="fh5co-about">
	<div class="container">
		<div class="col-md-6 animate-box">
			<h2>Affiliation</h2>
			<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
			<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
			<p>The school is affiliated to CBSE, New Delhi up to senior secondary level. The schol folows the syllabus prescribed by the CBSE, New Delhi. These are regular course in art, craft etc. co-curricular activites of varied nature ot promote wholesome development of mind and body. Socially useful and productive works also finds an important place in the school curriculum. Computer education also finds an important place in the school curriculum.</p>
			<p>School has set up a sound proof activity room for devloping the cultural activites of the student by providing mirror on the side walls as well as LCD projector with proper sound system. The children are given training in Indian classical, western dances, dramas and other co curricular activites. </p>

		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="{% static "images/C M A Higher Secondary School-Campus View 2.jpg" %}" alt="Free HTML5 Bootstrap Template">

		</div>
	</div>
</div>




<div id="fh5co-course">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Campus Facilities</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static "images/a1.jpg" %});">
					</a>
					<div class="desc">
						<h3>Sports</h3>
						<p>Sports are the most common extracurricular activity for kids in the CMA. Swimming lessons, ice skating lessons, and soccer clinics are typically offered to children as early as the toddler and preschool years. Many town recreation departments offer baseball, softball, basketball, lacrosse, hockey, tennis, and volleyball to elementary-school-age kids. As they age out of youth leagues, many kids can join middle school or high school sports teams or try out for a competitive travel sports team.</p>
						<!-- <span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span> -->
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static "images/a2.jpg" %});">
					</a>
					<div class="desc">
						<h3><a href="#">Music</a></h3>
						<p>Band and choir are popular elective courses in many schools. Children can also get private lessons or join a community youth orchestra or other music groups. Educational research suggests that kids who play musical instruments do better in academic school subjects.6 However, learning to play and appreciate music alone is a fantastic reward in itself.</p>
						<!-- <span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span> -->
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static "images/a3.jpg" %});">
					</a>
					<div class="desc">
						<h3><a href="#">Science &amp; Technology</a></h3>
						<p>We do many events to promote Science and Technology.</p>
						<!-- <span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span> -->
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static "images/a4.jpg" %});">
					</a>
					<div class="desc">
						<h3><a href="#">Physical Training</a></h3>
						<p>We do Morning PT to sharpen student's mind.</p>
						<!-- <span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}
