{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div id="fh5co-about">
		<div class="container">
			<div class="col-md-6 animate-box">
				<h2>Academics</h2>
				<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
				<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
				<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static "images/C M A Higher Secondary School-Campus View 1.jpg" %}" alt="">

			</div>
		</div>
	</div>



	<div id="fh5co-about">
		<div class="container">
			<div class="col-md-6 animate-box">
				<h2>Beyond Academics</h2>
				<!-- <h1><strong>Welcome to CMA School</strong></h1> -->
				<!-- <h3>Knowledge Ennobles Character Endures</h3> -->
				<p>C.M.A SCHOOL SATNA (M.P.) is managed by Cloth merchants association Satna and is a day boarding, Co-educational English and Hindi medium school affiliated to CBSE. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world. We at the school aim to equip our students with qualification, skills, knowledge and attitudes which will enable them to thrive in the fast changing world.</p>

			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static "images/C M A Higher Secondary School-Campus View 2.jpg" %}" alt="Free HTML5 Bootstrap Template">

			</div>
		</div>
	</div>

	{% endblock %}
